/MiNombre/target/
/AreaDeCuadrado/target/
/CuboNumero/target/
/cordenadas/target/
/produccionDePiezaz/target/
/evaluacion_alumnos/target/
/casting/target/
/signo_zodiaco/target/
/AdivinarNumero/target/
/juego/target/
/BancoUPP/target/